body {
 height: 100%;
 background-color: #f8f8f8;
}

a {
  color: #0070a8;
  text-decoration: none;
}
a:hover {
  color: #000;
}

ul {
  padding: 0px;
}
li {

}

h2 {
  text-align: center;
}

h3 {
  margin: 5px;
}

.App {
  text-align: center;
}

.App-header {
  background-image: url('../images/books.jpg');
  background-size: cover;
  height: 150px;
  padding: 0px;
  margin: 0px;
  color: white;
  background-repeat: no-repeat;

}

.App-header h2{
  margin: 0px;
  padding: 5px;
  background-color: #222;
  opacity: 0.8;
}

.course {
  text-align: left;
  border: 2px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.courseLine {
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.stars {
  margin: 5px;
  width: 100%
}

.courseItem {
  margin: 0px;
}

.courseData {
  text-align: left;
  border: 2px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 10px;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.course-description {
  margin: 20px;
}

.course-prof {
  margin: 20px;
}

.course-period {
  margin: 20px;
}

#searchinput {
  width: 98%;
  margin: 1%;
}

#periodchoose {
  width: 97%;
  margin-left: 2%;
  margin-right: 1%;
}

#pointchoose {
  width: 97%;
  margin-right: 2%;
  margin-left: 1%;
}
