@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
 height: 100%;
 background-color: #f8f8f8;
 font-family: 'Open Sans', sans-serif !important;

}

a {
  color: #0070a8;
  text-decoration: none;
}
a:hover {
  color: #000;
}

ul {
  padding: 0px;
}
li {

}

h2 {
  text-align: center;
}

h3 {
  margin: 5px;
  text-align: left;
}

textarea {
  resize: vertical;
}

.pure-g:nth-child(even) .course {
    background-color: rgba(245, 245, 245, 0.9);
}

.pure-g [class *= "pure-u"] {
        font-family: 'Open Sans', sans-serif !important;
}

.App {
  text-align: left;
}

.App-header {
  height: 30px;
  padding: 0px;
  margin-bottom: 5px;
  color: white;
  background-repeat: no-repeat;
  text-align: left;
}

.headerText{
  margin: 0px;
  padding: 5px;
  background-color: #5b5b5b;
}

.course {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  margin-left: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
}

.info {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 30px;
  margin-left: 5px;
  padding: 10px
}

.infoList {
  padding-left: 30px;
}

.courseLineTop {
  font-size: 12px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.courseLineBottom {
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.stars {
  margin: 5px;
  width: 100%
}

.courseItem {
  margin: 0px;
}

.courseData {
  text-align: left;
  border: 2px solid #eeeeee;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.course-description {
  margin: 20px;
}

.course-prof {
  margin: 20px;
}

.course-period {
  margin: 20px;
}

.comment {
  text-align: left;
  border: 2px solid #eeeeee;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  margin: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.commentInput {
  width: 100%%;
}

.commentSelectors {
  margin-top: 5px;
}

.courseListLink {
  text-overflow: ellipsis;
}

.fa {
  color: #ff5f00;
  float: right;
}

.star-left {
  float: left !important;
}

#searchinput {
  width: 98%;
  margin: 1%;
}

#periodchoose {
  width: 97%;
  margin-left: 2%;
  margin-right: 1%;
}

#sortchoose {
  width: 100%;
  margin-top: 10px;
}

#pointchoose {
  width: 97%;
  margin-right: 2%;
  margin-left: 1%;
}

#inputButton {
  width: 100%;
  margin-top: 5px;
  float: right;
  color: white;
  background: rgb(28, 184, 65);
}

#inputButton:hover {
  /*box-shadow: 150px 50px 10px #888888;*/
  background: rgb(28, 200, 65);
}

#loginUsername {
  margin-top: 20px
}

#loginButton {
  margin-top: 10px
}

#bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url(../images/back2.jpg);
  background-size: cover;
}
