.rating {
      overflow: hidden;
      display: inline-block;
  }
  .rating-input {
      float: right;
      width: 16px;
      height: 16px;
      padding: 0;
      margin: 0 0 0 -16px;
      opacity: 0;
  }

  .rating-star {
      position: relative;
      float: right;
      display: block;
      width: 16px;
      height: 16px;
      background: url('../images/star.png') 0 -16px;
  }

  .rated-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 0;
  }

  .unrated-star {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 -16px;
  }

  .rated-star-v {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 0;
  }

  .unrated-star-v {
    position: relative;
    float: right;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/star.png') 0 -16px;
  }

  @media screen and (max-width: 700px) {
    .unrated-star {
      display: none !important;
    }
  }

  @media screen and (max-width: 500px) {
    .rated-star {
      display: none !important;
    }
}
